.sobre_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   
    .paula{
        text-align: center;
    }
    .paula_contenido{
        margin: 50px;
        padding: 50px auto;

        .paula_img{
            width: 400px;
            height: auto;

        }
        .paula_paragraph{
            text-align:justify;
        }

    
    }
    
}