.work{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   
    .work_title{
        text-align: center;
    }
    .work_contenido{
        margin: 50px;
        padding: 50px auto;

        .work_img{
            width: 400px;
            height: auto;
            text-align: center;
        }

        .work_paragraph{
            text-align:justify;
        }

    
    }
    
}
